.flight-detail-header {
  width: 95%;
}

.airlines-policy .text-dark {
  font-size: 15px;
}
/* .airlines-policy {
  background-color: aquamarine;
} */

.flights-details-container {
  margin-top: 100px;
}

.other-img {
  display: flex;
  align-items: center;
  gap: 12px;
}

@media screen and (max-width: 576px) {
  .flight-detail-header {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: space-evenly;
    align-items: center;
    gap: 12px;
  }

  .other-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 12px;
  }

  .airlines-logo-time-trip {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 12px;
  }
  .airlines-policy {
    width: 90%;
  }
  .hero-img img {
    width: 95vw;
  }
  .heading-text {
    padding-top: 70px;
  }
}

@media screen and (min-width: 577px) and (max-width: 991px) {
  .hero-img img {
    width: 90vw;
  }
  .other-img {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    gap: 12px;
  }
  .heading-text {
    padding-top: 70px;
  }
}
