.rent-car .rent-card {
  width: 296px;
  height: 350px;
  background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.6) 0%,
      rgba(0, 0, 0, 0) 100%
    ),
    url(https://i.ibb.co/n0L0ssr/car-img.webp);
  background-repeat: no-repeat;
  background-position: cover;
  /* <a href="https://ibb.co/FwPXS3C"><img src="https://i.ibb.co/WyT0b5j/rent-a-car.jpg" alt="rent-a-car" border="0"></a> */
  border-radius: 12px;
}

.rent-car .text-white {
  padding-top: 90%;
}
.rent-car .btn {
  background-color: #3cb371;
  border: none;
}
.rent-car {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-evenly;
  align-items: center;
  gap: 14px;
}


