.pdf-card-section {
  width: 803px;
  margin: auto;
  /* padding-bottom: 50px; */
}
.pdf-card-section .row {
  /* text-align: center; */
  width: 98%;
  margin: 0 auto;
}

.pdf-date {
  background-color: #ebf6f2;
  color: #112211;
  font-weight: bold;
  text-align: center;
  height: 160px;
  padding-top: 50px;
  font-size: 12px;
}

.pdf-left-column-text {
  color: #112211;
  font-weight: bold;
  padding-top: 10px;
  height: 160px;
  font-size: 14px;

  /* background-color: #ebf6f2; */
}
.pdf-right-column-text {
  color: #112211;
  font-weight: bold;
  padding-top: 10px;
  height: 160px;
  font-size: 14px;

  /* background-color: #ebf6f2; */
}

.terms_conditions {
  width: 95%;
  margin: 0 auto;
}
.conditions-text li {
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  color: #112211;
}
.contact-info {
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  color: #112211;
  padding-bottom: 50px;
}

@media screen and (max-width: 576px) {
  .pdf-card-section {
    padding-top: 70px;
    width: 90vw;
    margin: auto;
  }
}
@media screen and (min-width: 576px) and (max-width: 991px) {
  .pdf-card-section {
    padding-top: 70px;
    width: 90vw;
    margin: auto;
  }
}
