.signup-body {
  width: 640px;
  height: 753px;
  margin-top: 15%;
}

.signIn-container{
 padding-top: 100px;
}

.agree {
  font-size: 13px;
}
.create-account-button {
  background-color: #8dd3bb;
  color: #112211;
  text-transform: capitalize;
  font-weight: bold;
  border: 1px solid #8dd3bb;
}
.create-account-button:hover {
  background-color: #ffffff;
  color: #131313;
  border: 1px solid #8dd3bb;
  color: salmon;
}
.signin-text {
  color: salmon;
  font-weight: bold;
  text-decoration: none;
}
.signin-text:hover {
  color: rgb(240, 109, 95);
  font-weight: bold;
  cursor: pointer;
  text-decoration: underline;
}

.social-signUP {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
}
.social-signUP button {
  border: 1px solid #8dd3bb;
}
.social-signUP button:hover {
  border: 1px solid #8dd3bb;
  background-color: #8dd3bb;
}

.signUp button {
  border: 1px solid #8dd3bb;
  margin-top: 15px;
}
.signUp button:hover {
  border: 1px solid #8dd3bb;
  background-color: #8dd3bb;
  color: white;
  transition: 0.3s;
}

.img-fluid {
  width: 488px;
  height: 816px;
}

.input-container {
  position: relative;
  width: 100%;
  height: 3rem;
}

.password {
  width: 100% !important;
}

.input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1.5px solid #79747e;
  border-radius: 5px;
  font-family: inherit;
  font-size: inherit;
  color: #131313;
  cursor: text;
  outline: none;
  padding: 1.25rem;
  background: none;
}

.input:focus {
  border: 1.5px solid salmon;
}
.label {
  position: absolute;
  left: 1rem;
  top: 0.8rem;
  padding: 0 0.5rem;
  /* color: white; */
  cursor: text;
  transition: all 0.3s;
  background-color: #F8FCFB;
}

.input:focus ~ .label,
.input:not(:placeholder-shown).input:not(:focus) ~ .label {
  top: -0.5rem;
  font-size: 0.8rem;
  left: 0.8rem;
}

@media screen and (max-width: 576px) {
  .social-signUP {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: space-evenly;
    align-items: center;
  }

  .signup-body {
    width: 100%;
    margin: auto;
    border: 1px solid #8dd3bb;
    border-radius: 7px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 12px;
    height: auto;
  }
}

@media screen and (min-width: 577px) and (max-width: 991px) {
  .signup-body {
    width: 75%;
    text-align: center;
    margin: auto;
    border: 1px solid #8dd3bb;
    border-radius: 7px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 20px;
    height: auto;
  }

  .social-signUP {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: space-evenly;
    align-items: center;
  }
}
